.newTodoForm form {
    border: none;
    display: inline-grid;
    height: 45px;
    grid-template-columns: 319px 70px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

.newTodoForm form button{
    background-color:  #666666;
    border: none;
    color: white;
}

.newTodoForm form button:hover{
    background-color: #424040;
    cursor: pointer;
}